.box_publicidade {
	width: 100%;
	padding-top: 5%;
}

.page-header {
	margin-top: -10%;
	font-size: 18px;
	background: rgb(245, 198, 220) none repeat scroll 0% 0%;
	padding: 22px 25px;
	border-radius: 5px 5px 0px 0px;
	text-shadow: none;
	text-align: center;
	font-size: 35px;
	text-shadow: none;
	font-weight: bold;
}

.form_publicidade {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 5%;
	border-radius: 5px;
	max-width: 1000px;
	overflow: hidden;
	border: 2px solid rgb(206, 103, 151);
	background-color: white;
	font-weight: bold;
}

.number {
	background-color: rgb(208, 108, 154);
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	border-radius: 100%;
}

.form_publicidade fieldset {
	padding: 3%;
}

.form_publicidade legend {
	font-size: 20px;
	font-style: normal;
	font-variant: small-caps;
	text-align: left;
	border: none;
	color: rgb(208, 108, 154);
}

.form_publicidade label {
	font-family: verdana;
	font-size: small;
	text-transform: capitalize;
}

.form_publicidade input {
	width: 75%;
	margin-left: 15%;
	margin-bottom: 3%;
}

.file-caption-main {
	width: 75%;
	margin-left: 15%;
	margin-bottom: 3%;
}